<a href="https://colab.research.google.com/github/gtoubian/cce/blob/main/Pre_Lec_Intro_to_Numpy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy Intro

NumPy arrays are somewhat like native Python lists, except that

- Data *must be homogeneous* (all elements of the same type).  
- These types must be one of the [data types](https://docs.scipy.org/doc/numpy/reference/arrays.dtypes.html) (`dtypes`) provided by NumPy:

| Data type	    | Description |
|---------------|-------------|
| ``bool_``     | Boolean (True or False) stored as a byte |
| ``int_``      | Default integer type (same as C ``long``; normally either ``int64`` or ``int32``)| 
| ``intc``      | Identical to C ``int`` (normally ``int32`` or ``int64``)| 
| ``intp``      | Integer used for indexing (same as C ``ssize_t``; normally either ``int32`` or ``int64``)| 
| ``int8``      | Byte (-128 to 127)| 
| ``int16``     | Integer (-32768 to 32767)|
| ``int32``     | Integer (-2147483648 to 2147483647)|
| ``int64``     | Integer (-9223372036854775808 to 9223372036854775807)| 
| ``uint8``     | Unsigned integer (0 to 255)| 
| ``uint16``    | Unsigned integer (0 to 65535)| 
| ``uint32``    | Unsigned integer (0 to 4294967295)| 
| ``uint64``    | Unsigned integer (0 to 18446744073709551615)| 
| ``float_``    | Shorthand for ``float64``.| 
| ``float16``   | Half precision float: sign bit, 5 bits exponent, 10 bits mantissa| 
| ``float32``   | Single precision float: sign bit, 8 bits exponent, 23 bits mantissa| 
| ``float64``   | Double precision float: sign bit, 11 bits exponent, 52 bits mantissa| 
| ``complex_``  | Shorthand for ``complex128``.| 
| ``complex64`` | Complex number, represented by two 32-bit floats| 
| ``complex128``| Complex number, represented by two 64-bit floats| 


There are also dtypes to represent complex numbers, unsigned integers, etc.

On modern machines, the default dtype for arrays is `float64`

First, we can use ``np.array`` to create arrays from Python lists:

In [2]:
import numpy as np

#integer array
a = np.array([1,4,2,5,3])
print(a.dtype)
a

int64

array([1, 4, 2, 5, 3])

## Array Shape

Unlike Python lists, NumPy arrays can explicitly be multi-dimensional; here's one way of initializing a multidimensional array using a list of lists:

In [4]:
np.array([[2,3,4], [6,7,8], [9,10,11]])

array([[ 2,  3,  4],
       [ 6,  7,  8],
       [ 9, 10, 11]])

However, if our matrix is not rectangular (each row having the same length), numpy will fallback to holding each as an `object`, which is no better than python's lists.

In [5]:
np.array([[2,3,4,5,6,7,8,9,1,2,3], [6,7,8], [9,10,11]])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """Entry point for launching an IPython kernel.

array([list([2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3]), list([6, 7, 8]),
       list([9, 10, 11])], dtype=object)

## Array Creation

In [6]:
np.zeros(10, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [7]:
np.ones((3,5), dtype=float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [8]:
np.full((3,5), np.pi)

array([[3.14159265, 3.14159265, 3.14159265, 3.14159265, 3.14159265],
       [3.14159265, 3.14159265, 3.14159265, 3.14159265, 3.14159265],
       [3.14159265, 3.14159265, 3.14159265, 3.14159265, 3.14159265]])

numpy also has `np.arange` which is its analogue to python's `range`:

In [10]:
np.arange(3,20,2)

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19])

## Random arrays

## Advanced Indexing

In [13]:
#Create a 3x3 array of uniformly distributed random variables between 0 and 1
np.random.seed(3)
np.random.random((3,3))

array([[0.5507979 , 0.70814782, 0.29090474],
       [0.51082761, 0.89294695, 0.89629309],
       [0.12558531, 0.20724288, 0.0514672 ]])

In [14]:
np.random.randint(0,10,(3,3))

array([[0, 4, 7],
       [8, 1, 6],
       [2, 2, 1]])

In [16]:
x = np.array([[3,5,2,4],[7,6,8,8],[1,6,7,7]])

#We index (row, column)
x[0,0]

3

In [17]:
x[2,-1]

7

In [18]:
x[0,0] = 9999
x

array([[9999,    5,    2,    4],
       [   7,    6,    8,    8],
       [   1,    6,    7,    7]])

In [19]:
#Here, I called the last element (3) in the first two rows (:2)

x[:2,3]

array([4, 8])

# Intro to Pandas

`pandas` is designed to make it easier to work with structured data. 

Most of the analyses you might perform will likely involve using tabular data, e.g., from .csv files or relational databases (e.g., SQL) 

If you see a csv file you should be happy!

The `DataFrame` object in `pandas` is "a two-dimensional tabular, column-oriented data structure with both row and column labels."

If you're curious:

>The `pandas` name itself is derived from *panel data*, an econometrics term for multidimensional structured data sets (data where observations are both per time and per individual), and *Python data analysis* itself. After getting introduced, you can consult the full [`pandas` documentation](http://pandas.pydata.org/pandas-docs/stable/).

In [21]:
import pandas as pd

## Series


<a id='index-2'></a>
Two important data types defined by pandas are  `Series` and `DataFrame`.

You can think of a `Series` as a “column” of data, such as a collection of observations on a single variable.

A `DataFrame` is an object for storing related columns of data.

Let’s start with Series

In [ ]:
s = pd.Series(np.random.randn(4), name='test')
s

0    1.303642
1    0.276150
2    0.950463
3   -1.685309
Name: test, dtype: float64

Here you can imagine the indices `0, 1, 2, 3` as indexing four listed
companies, and the values being daily returns on their shares.

Pandas `Series` are built on top of NumPy arrays and support many similar
operations

In [ ]:
s * 100

0    130.364222
1     27.614981
2     95.046310
3   -168.530884
Name: test, dtype: float64

In [ ]:
np.abs(s)

0    1.303642
1    0.276150
2    0.950463
3    1.685309
Name: test, dtype: float64

But `Series` provide more than NumPy arrays.

Not only do they have some additional (statistically oriented) methods

In [ ]:
s.describe()

count    4.000000
mean     0.211237
std      1.334279
min     -1.685309
25%     -0.214215
50%      0.613306
75%      1.038758
max      1.303642
Name: test, dtype: float64

But their indices are more flexible

In [ ]:
s.index = ['SpaceX', 'BTC', 'GME', 'Amazon']
s

SpaceX    1.303642
BTC       0.276150
GME       0.950463
Amazon   -1.685309
Name: test, dtype: float64

## DataFrames


<a id='index-3'></a>
While a `Series` is a single column of data, a `DataFrame` is several columns, one for each variable.

In essence, a `DataFrame` in pandas is analogous to a (highly optimized) Excel spreadsheet.

Thus, it is a powerful tool for representing and analyzing data that are naturally organized  into rows and columns, often with  descriptive indexes for individual rows and individual columns.

In [23]:
from sklearn.datasets import load_boston
x, y = load_boston(return_X_y=True)

We can select particular rows using standard Python array slicing notation

In [27]:
boston = load_boston()
df = pd.DataFrame(boston.data)
df.columns = boston.feature_names
df

#When creating data frames from csv/excel/json files, you have to use pandas to read them in.
#pd.read_csv('file name')
#pd.read_excel('file name')
#pd.read_json('file name')

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [41]:
print(type(df))
df.head(3)

<class 'pandas.core.frame.DataFrame'>

           CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  2.848101e+06  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.000000e+00   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.000000e+00   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03

[3 rows x 13 columns]

Note that this **cares about the index** so if the index of the dataframe was strings (or anything else than ordered integers) **you may get surprises**

To select columns, we can pass a list containing the names of the desired columns represented as strings

In [28]:
df[2:5]

      CRIM   ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
2  0.02729  0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237  0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905  0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[3 rows x 13 columns]

To select both rows and columns using integers, the `iloc` attribute should be used with the format `.iloc[rows, columns]`

In [29]:
df[['CRIM', 'ZN']]

        CRIM    ZN
0    0.00632  18.0
1    0.02731   0.0
2    0.02729   0.0
3    0.03237   0.0
4    0.06905   0.0
..       ...   ...
501  0.06263   0.0
502  0.04527   0.0
503  0.06076   0.0
504  0.10959   0.0
505  0.04741   0.0

[506 rows x 2 columns]

## .loc : your best friend

To select rows and columns using a mixture of integers and labels, the `loc` attribute can be used in a similar way

In [30]:
df.iloc[2:5,0:4]

      CRIM   ZN  INDUS  CHAS
2  0.02729  0.0   7.07   0.0
3  0.03237  0.0   2.18   0.0
4  0.06905  0.0   2.18   0.0

In [31]:
df.loc[df.index[2:5], ['CRIM', 'ZN']]

      CRIM   ZN
2  0.02729  0.0
3  0.03237  0.0
4  0.06905  0.0

In [32]:
df.loc[df.CRIM >= 10]

        CRIM   ZN  INDUS  CHAS    NOX  ...   RAD    TAX  PTRATIO       B  LSTAT
367  13.5222  0.0   18.1   0.0  0.631  ...  24.0  666.0     20.2  131.42  13.33
373  11.1081  0.0   18.1   0.0  0.668  ...  24.0  666.0     20.2  396.90  34.77
374  18.4982  0.0   18.1   0.0  0.668  ...  24.0  666.0     20.2  396.90  37.97
375  19.6091  0.0   18.1   0.0  0.671  ...  24.0  666.0     20.2  396.90  13.44
376  15.2880  0.0   18.1   0.0  0.671  ...  24.0  666.0     20.2  363.02  23.24
378  23.6482  0.0   18.1   0.0  0.671  ...  24.0  666.0     20.2  396.90  23.69
379  17.8667  0.0   18.1   0.0  0.671  ...  24.0  666.0     20.2  393.74  21.78
380  88.9762  0.0   18.1   0.0  0.671  ...  24.0  666.0     20.2  396.90  17.21
381  15.8744  0.0   18.1   0.0  0.671  ...  24.0  666.0     20.2  396.90  21.08
384  20.0849  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  285.83  30.63
385  16.8118  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  396.90  30.81
386  24.3938  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  396.90  28.28
387  22.5971  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  396.90  31.99
388  14.3337  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  372.92  30.62
392  11.5779  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  396.90  25.68
394  13.3598  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  16.35
398  38.3518  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  30.59
400  25.0461  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  26.77
401  14.2362  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  20.32
403  24.8017  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  19.77
404  41.5292  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  329.46  27.38
405  67.9208  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  384.97  22.98
406  20.7162  0.0   18.1   0.0  0.659  ...  24.0  666.0     20.2  370.22  23.34
407  11.9511  0.0   18.1   0.0  0.659  ...  24.0  666.0     20.2  332.09  12.13
409  14.4383  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2  179.36  19.78
410  51.1358  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2    2.60  10.11
411  14.0507  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2   35.05  21.22
412  18.8110  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2   28.79  34.37
413  28.6558  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2  210.97  20.08
414  45.7461  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2   88.27  36.98
415  18.0846  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   27.25  29.05
416  10.8342  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   21.57  25.79
417  25.9406  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2  127.36  26.64
418  73.5341  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   16.45  20.62
419  11.8123  0.0   18.1   0.0  0.718  ...  24.0  666.0     20.2   48.45  22.74
420  11.0874  0.0   18.1   0.0  0.718  ...  24.0  666.0     20.2  318.75  15.02
422  12.0482  0.0   18.1   0.0  0.614  ...  24.0  666.0     20.2  291.55  14.10
425  15.8603  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2    7.68  24.39
426  12.2472  0.0   18.1   0.0  0.584  ...  24.0  666.0     20.2   24.65  15.69
427  37.6619  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   18.82  14.52
431  10.0623  0.0   18.1   0.0  0.584  ...  24.0  666.0     20.2   81.33  19.69
434  13.9134  0.0   18.1   0.0  0.713  ...  24.0  666.0     20.2  100.63  15.17
435  11.1604  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2  109.85  23.27
436  14.4208  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2   27.49  18.05
437  15.1772  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2    9.32  26.45
438  13.6781  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2   68.95  34.02
440  22.0511  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2  391.45  22.11
444  12.8023  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2  240.52  23.79
445  10.6718  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2   43.06  23.98
468  15.5757  0.0   18.1   0.0  0.580  ...  24.0  666.0     20.2  368.74  18.13
469  13.0751  0.0   18.1   0.0  0.580  ...  24.0  666.0     20.2  396.90  14.76
477  15.0234  0.0   18.1   0.0  0.614  ...  24.0  666.0     20.2  349.48  24.91
478  10.2330  0.0   18.1   0.0  0.614  ...  24.0  666.0     20.2  379.70  18.03
479  14.3337  0.0   18.1   0.0  0.614  ...  24.0  666.0     20.2  383.32  13.11

[54 rows x 13 columns]

### Selecting on multiple conditions

The `&` (and), `|` (or), `~` (not) can be used to combine queries:

In [33]:
df.loc[(df.CRIM >= 10) & (df.DIS >= 1.5)]

        CRIM   ZN  INDUS  CHAS    NOX  ...   RAD    TAX  PTRATIO       B  LSTAT
367  13.5222  0.0   18.1   0.0  0.631  ...  24.0  666.0     20.2  131.42  13.33
381  15.8744  0.0   18.1   0.0  0.671  ...  24.0  666.0     20.2  396.90  21.08
387  22.5971  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  396.90  31.99
388  14.3337  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  372.92  30.62
392  11.5779  0.0   18.1   0.0  0.700  ...  24.0  666.0     20.2  396.90  25.68
394  13.3598  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  16.35
400  25.0461  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  26.77
401  14.2362  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  20.32
403  24.8017  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  396.90  19.77
404  41.5292  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2  329.46  27.38
411  14.0507  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2   35.05  21.22
412  18.8110  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2   28.79  34.37
413  28.6558  0.0   18.1   0.0  0.597  ...  24.0  666.0     20.2  210.97  20.08
414  45.7461  0.0   18.1   0.0  0.693  ...  24.0  666.0     20.2   88.27  36.98
415  18.0846  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   27.25  29.05
416  10.8342  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   21.57  25.79
417  25.9406  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2  127.36  26.64
418  73.5341  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   16.45  20.62
419  11.8123  0.0   18.1   0.0  0.718  ...  24.0  666.0     20.2   48.45  22.74
420  11.0874  0.0   18.1   0.0  0.718  ...  24.0  666.0     20.2  318.75  15.02
422  12.0482  0.0   18.1   0.0  0.614  ...  24.0  666.0     20.2  291.55  14.10
425  15.8603  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2    7.68  24.39
426  12.2472  0.0   18.1   0.0  0.584  ...  24.0  666.0     20.2   24.65  15.69
427  37.6619  0.0   18.1   0.0  0.679  ...  24.0  666.0     20.2   18.82  14.52
431  10.0623  0.0   18.1   0.0  0.584  ...  24.0  666.0     20.2   81.33  19.69
434  13.9134  0.0   18.1   0.0  0.713  ...  24.0  666.0     20.2  100.63  15.17
435  11.1604  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2  109.85  23.27
436  14.4208  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2   27.49  18.05
437  15.1772  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2    9.32  26.45
438  13.6781  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2   68.95  34.02
440  22.0511  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2  391.45  22.11
444  12.8023  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2  240.52  23.79
445  10.6718  0.0   18.1   0.0  0.740  ...  24.0  666.0     20.2   43.06  23.98
468  15.5757  0.0   18.1   0.0  0.580  ...  24.0  666.0     20.2  368.74  18.13
469  13.0751  0.0   18.1   0.0  0.580  ...  24.0  666.0     20.2  396.90  14.76
477  15.0234  0.0   18.1   0.0  0.614  ...  24.0  666.0     20.2  349.48  24.91
478  10.2330  0.0   18.1   0.0  0.614  ...  24.0  666.0     20.2  379.70  18.03
479  14.3337  0.0   18.1   0.0  0.614  ...  24.0  666.0     20.2  383.32  13.11

[38 rows x 13 columns]

More complex:

In [34]:
df.loc[(df.CRIM>=10) & (df.DIS >= 105) | df.RM < 6]

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [35]:
df = df.iloc[0,5]
print(df)

6.575

Here the index `0, 1,..., 7` is redundant because we can use the country names as an index.

To do this, we set the index to be the `ZN` variable in the dataframe

In [36]:
boston = load_boston()
df = pd.DataFrame(boston.data)
df.columns = boston.feature_names

df = df.set_index('CRIM')
df

           ZN  INDUS  CHAS    NOX     RM  ...  RAD    TAX  PTRATIO       B  LSTAT
CRIM                                      ...
0.00632  18.0   2.31   0.0  0.538  6.575  ...  1.0  296.0     15.3  396.90   4.98
0.02731   0.0   7.07   0.0  0.469  6.421  ...  2.0  242.0     17.8  396.90   9.14
0.02729   0.0   7.07   0.0  0.469  7.185  ...  2.0  242.0     17.8  392.83   4.03
0.03237   0.0   2.18   0.0  0.458  6.998  ...  3.0  222.0     18.7  394.63   2.94
0.06905   0.0   2.18   0.0  0.458  7.147  ...  3.0  222.0     18.7  396.90   5.33
...       ...    ...   ...    ...    ...  ...  ...    ...      ...     ...    ...
0.06263   0.0  11.93   0.0  0.573  6.593  ...  1.0  273.0     21.0  391.99   9.67
0.04527   0.0  11.93   0.0  0.573  6.120  ...  1.0  273.0     21.0  396.90   9.08
0.06076   0.0  11.93   0.0  0.573  6.976  ...  1.0  273.0     21.0  396.90   5.64
0.10959   0.0  11.93   0.0  0.573  6.794  ...  1.0  273.0     21.0  393.45   6.48
0.04741   0.0  11.93   0.0  0.573  6.030  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 12 columns]

## We can also do different types of maths

In [38]:
boston = load_boston = load_boston()
df = pd.DataFrame(boston.data)
df.columns = boston.feature_names

df['CRIM'] = df['CRIM']*1000
df

       CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0      6.32  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1     27.31   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2     27.29   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3     32.37   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4     69.05   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..      ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501   62.63   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502   45.27   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503   60.76   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  109.59   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505   47.41   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [40]:
df['CRIM'] = df['ZN']*1e6/df['CRIM']
df

             CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    2.848101e+06  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.000000e+00   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.000000e+00   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.000000e+00   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.000000e+00   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..            ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.000000e+00   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.000000e+00   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.000000e+00   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.000000e+00   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.000000e+00   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]